<div class="main">
<form (ngSubmit)="register()" class="signup-container">
  <h2>Sign Up</h2>
  <input matInput [(ngModel)]="email" name="email" type="email"  maxlength="50" placeholder="choir@email.com" required>
  <input matInput [(ngModel)]="password" name="password" (input)="checkPasswordStrength()"  maxlength="50"  type="password"placeholder="••••••••" required>
  <input matInput [(ngModel)]="passwordMatch" name="passwordMatch" type="password"  maxlength="50" placeholder="••••••••" required>
    <!-- Password Strength Feedback -->
    <div *ngIf="password" class="password-strength">
      <p>Password strength: {{ passwordStrength }}</p>
      <ul>
        <li [ngClass]="{ 'valid': hasLength }">At least 8 characters</li>
        <li [ngClass]="{ 'valid': hasNumbers }">Contains numbers</li>
        <li [ngClass]="{ 'valid': hasLetters }">Contains letters</li>
        <li [ngClass]="{ 'valid': hasSymbols }">Contains symbols</li>
      </ul>
    </div>
  <!-- <p>By creating an account, you agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p> -->
  <button [disabled]="isDisabled" type="submit">Create a new account</button>
  <p class="signin-link">Have an account? <a  routerLink="/login">Sign In</a></p>
</form>
</div>