* {
  box-sizing: border-box;
  align-content: flex-start;
}

.piano-room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.fab-btn{
  top: 89%;
  left: 83%;
  position: fixed;
 }


.piano {
  display: flex;
  justify-content: center;
  position: relative;
}

.key-group {
  position: relative;
}

.white-key, .black-key {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.white-key {
  width: 60px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
}

.black-key {
  width: 40px;
  height: 120px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 40px; 
  top: 0;
  z-index: 1;
  border: 1px solid black;
  cursor: pointer;
}

.key-label {
  position: relative;
  top: 5px; 
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.black-key .key-label {
  color: white; 
}

.white-key.active {
  background-color: #ffcc00; 
}

.black-key.active {
  background-color: #ff6600; 
}
 .launch-icon{
  padding: initial !important;
 }
.pressed-key {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: normal;
  color: #333; 
  background-color: #e0e0e0; 
  border-radius: 50%; 
  width: 100px; 
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none; 
}


.pressed-key p {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
}


.song-list {
  width: 100%;
  max-width:600px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto; 
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.song-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.song-item:hover {
  background-color: #f1f1f1; 
}


.song-list div {
  margin: 3px 0;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: flex;
  padding: 0px;
  justify-content: space-between;
  align-items: center; 
  font-size: 14px;
}

.song-list .song-actions {
  display: flex;
  gap: 10px; 
}

.song-list > div.highlight .song-actions {
  background-color: #d1e7dd; 
}


.song-list button {
  background: none;
  border: none;
  cursor: pointer;
  color: #333; 
}

.song-list mat-icon {
  font-size: 20px; 
  cursor: pointer;
}



.song-list div.highlight {
  background-color: #d1e7dd; 
  border: 2px solid #4caf50; 
}

.song-form {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin: 20px;
  gap: 10px; 
  max-width: 600px; 
  margin-left: auto;
  margin-right: auto;
}

.song-form input {
  width:100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.song-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.song-form button mat-icon {
  margin-right: 5px;
  padding: initial;
}

.song-form button:hover {
  background-color: #45a049;
}


.no-progression{
  margin-top:30px;
}

.add-progression-btn {
  background-color: #4caf50; 
  color: white; 
  padding: 10px 20px;
  font-size: 16px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.add-progression-btn:hover {
  background-color: #388e3c; 
  transform: translateY(-2px); 
}

.add-progression-btn:active {
  transform: translateY(1px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.progression-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.progression-btn:hover {
  background-color: #45a049;
}


.progression-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.current-progression {
  background-color: #dedddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  text-align: center;
  margin-top: 20px;
  width: 100%; 
  max-width: 600px; 

  .progression-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-bottom: 10px;
    height: 50px; 
  
  }
  
  .progression-header h3 {
    margin: 0;
  }
  
  .progression-header button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
}

.menu-icon{
  padding: initial !important;
}

.current-progression h4 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}


.progression-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.progression-table th, 
.progression-table td {
  padding: 10px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.progression-table th {
  background-color: #1d511f;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.progression-table td {
  font-size: 17px;
  font-weight: 500;
  background-color: #f1f1f1;
}

.progression-table tr:nth-child(even) {
  background-color: #e0f7fa;
}

.progression-table tr:hover {
  background-color: #ddd;
}


button.select-room-btn {
  background-color: #f1f1f1; 
  color: #393b39; 
  border: none; 
  border-radius: 8px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  display: flex; 
  align-items: center; 
  gap: 8px; 
  outline: none;
  margin-bottom: 20px;
  margin-top: 20px;
}


button.select-room-btn:hover {
  background-color: #45a049; 
  color:white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.05); 
}

button.select-room-btn:active {
  background-color: #388e3c; 
  color:white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transform: scale(0.98); 
}


.mat-icon {
  vertical-align: middle;
  padding: 5px;
}
