
<div class="container">
<div class="piano-room-container">

  <button mat-raised-button class="select-room-btn" (click)="openRooms()">
    <mat-icon class="launch-icon">launch</mat-icon>
    Current Room: {{ currentRoomName || "None" }}
  </button>
  
<div class="piano">
  <div class="key-group" *ngFor="let keyGroup of keys">
    <div class="white-key" [class.active]="keyGroup.white.active" (mousedown)="playSound(keyGroup.white.note)">
      <div class="key-label">{{ keyGroup.white.note }}</div>
    </div>
    <div class="black-key" *ngIf="keyGroup.black" [class.active]="keyGroup.black.active" (mousedown)="playSound(keyGroup.black.note)">
      <div class="key-label">{{ keyGroup.black.note }}</div>
    </div>
  </div>
</div>

<audio #audioPlayer></audio>

<div class="pressed-key">
  <p>{{ pressedKey || 'NA' }}</p>
</div>

<div class="line-container">
  <div *ngFor="let number of lineNotes" class="number-button">
    <button
      mat-raised-button
      class="line-button"
      [color]="selectedValue === number ? 'primary' : ''"
      (click)="onNumberClick(number)"
    >
      {{ number }}
    </button>
  </div>
</div>

<div class="song-form">
  <input [(ngModel)]="newSong.name" maxlength="50" placeholder="Song Name" />
  <input [(ngModel)]="newSong.key"  maxlength="30" placeholder="Song Key" />
  <button (click)="addSong()">	<mat-icon>playlist_add</mat-icon> Add</button>
</div>

<p *ngIf="songs.length == 0"  class="song-list" >No playlist found!</p>

<div *ngIf="songs.length > 0"  cdkDropList class="song-list" (cdkDropListDropped)="drop($event)">
  <div *ngFor="let song of songs; let i = index" 
       cdkDrag  
       [cdkDragStartDelay]="200"  
       [ngClass]="{'highlight': i === selectedSongIndex}" 
       (click)="onSongClick(song.id,i)" class="song-item" style="cursor: pointer;">
    <mat-icon>music_note</mat-icon>
    <span>{{ song.name }} - Key: {{ song.key ? song.key: '---'}}</span>
    <div class="song-actions">
      <button mat-icon-button (click)="editSong(song.id,i)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteSong(song.id,i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>


<!-- Add Progression Button if no progression exists -->
<div *ngIf="!selectedProgression" class="current-progression">
  <h3>Add a progression for <b>{{ selectedSong?.name || 'Untitled Song' }}</b></h3>
  <button class="add-progression-btn" (click)="addProgression()">Add Progression</button>
</div>

<!-- Display the selected progression -->
<div *ngIf="selectedProgression" class="current-progression">
  <div class="progression-header">
    <h3>{{ selectedSong?.name || 'Untitled Song' }}</h3>

    <!-- Three dot menu button -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More options">
      <mat-icon class="menu-icon">more_vert</mat-icon>
    </button>

    <!-- Menu for delete, share and edit options -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addProgression()">
        <mat-icon class="menu-icon">edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deleteProgression()">
        <mat-icon class="menu-icon">delete</mat-icon>
        <span>Delete</span>
      </button>
      <button mat-menu-item (click)="shareProgression()">
        <mat-icon class="menu-icon">share</mat-icon>
        <span>Share</span>
      </button>
    </mat-menu>
  </div>

  <!-- Table for Left and Right Progression -->
  <table class="progression-table">
    
    <thead>
      <tr>
        <th>Left</th>
        <th>Right</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prog of (selectedProgression.left || selectedProgression.right); let i = index">
        <td>{{ selectedProgression.left && selectedProgression.left[i]?.trim() !== '' ? selectedProgression.left[i] : '---' }}</td>
        <td>{{ selectedProgression.right && selectedProgression.right[i]?.trim() !== '' ? selectedProgression.right[i] : '---' }}</td>
      </tr>
    </tbody>
  </table>
  


</div>



  <!-- Edit Progression Button -->
  <button mat-fab class="fab-btn" aria-label="Edit Progression" (click)="overwriteSelectedSongData()" >
    <mat-icon class="menu-icon">add</mat-icon>
  </button>


</div>
</div>

<!-- Progression Editor -->
<div *ngIf="showProgressionEditor">
  <app-progression-editor
    [songData]="songData"
    (progressionConfirmed)="updateProgression($event)"
    (cancel)="closeProgressionEditor()">
  </app-progression-editor>
</div>

<app-rooms 
 *ngIf="showRooms"  
 (roomJoined)="onRoomJoined($event)"
 (roomConfirmed)="updateRooom()">
</app-rooms>

