.categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-height: 300px; 
    overflow-y: auto;
  }
  
  mat-chip {
    margin: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
  }
  
  mat-chip:hover {
    background-color: #1976d2;
    color: white;
  }

  p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-size: 15px;
    color: #333;
  }

  .gategory-header{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  