  
  <div class="container" *ngIf="currentRoomId">
    <div class="gategory-header"> 
        <button mat-button routerLink="/technical-team">
        <mat-icon>arrow_back</mat-icon>
        </button> 
        <h2>{{ selectedCategory }}</h2> 
    </div>
    <div class="categories-container">
        <mat-chip-listbox>
          <mat-chip
            *ngFor="let item of categoryMessages"
            (click)="selectMessage(item)"
            class="chip"
          >
            {{ item }}
          </mat-chip>
        </mat-chip-listbox>
    </div>
  
    <app-messages
      [messages]="selectedMessages"
      (messageRemoved)="removeMessage($event)"
      (messageAdded)="saveMessage($event)"
      (messageEdited)="editMessage($event)"
    ></app-messages>
  </div>

  <p *ngIf="!currentRoomId">Please select or create a room</p>
  