<div class="hero">
    <div class="content">
      <h1><i>Unite Your Voices</i></h1>
      <p>Streamline your music ministry with Choir Hub</p>
      <div class="features-grid">
        <div class="feature">
          <i class="fas fa-arrow-down"></i>
          <h4>Song Management</h4>
        </div>
        <div class="feature">
          <i class="fas fa-arrow-down"></i>
          <h4>Room-Based</h4>
        </div>
        <div class="feature">
          <i class="fas fa-arrow-down"></i>
          <h4>Collaborate with ease</h4>
        </div>
        <div class="feature">
          <i class="fas fa-arrow-down"></i>
          <h4>Progression Sharing</h4>
        </div>
        <div class="feature">
          <i class="fas fa-arrow-down"></i>
          <h4>Progression Management</h4>
        </div>
        <div class="feature">
          <i class="fas fa-arrow-down"></i>
          <h4>Create Playlists</h4>
        </div>
        <div class="feature">
          <i class="fas fa-arrow-down"></i>
          <h4>Access a library</h4>
        </div>
        <div class="feature">
          <i class="fas fa-arrow-down"></i>
          <h4>Behind the Lyrics</h4>
        </div>
      </div>
      <a class="btn" routerLink="/login">Sign in</a>
    </div>
  </div>