.hero {
  position: relative;
  background: linear-gradient(to right, rgba(67, 67, 67, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%),
    url('../../../assets/images/guitar-.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.hero .content {
  max-width: 800px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .content h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero .content p {
  font-size: 18px;
  margin-bottom: 15px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.feature {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  justify-content: flex-start; 
  vertical-align: top;
}

.feature i {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ff7e00;
}

.feature h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.btn {
  background-color: #6f42c1;
  color: white;
  width: 50%;
  padding: 10px 20px;
  border: none;
  border-radius: 13px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #5a32a3;
}

/* Media queries */
@media (min-width: 768px) {
  .features-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 767px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}