<div class="hero">
  <div class="content">
    <!-- <div class="tag">PIANO</div> -->
    <h2> <i>Unite Your Voices</i></h2>
    <p>Streamline your music ministry with Choir Hub</p>
    <h3>Classic <span>Features</span></h3>
 
    <div class="features">
        <div class="feature-item">
            <i class="fas fa-arrow-right"></i>
            <span>Song Management</span>
        </div>
        <div class="feature-item">
            <i class="fas fa-arrow-right"></i>
            <span>Session and Room-Based </span>
        </div>
        <div class="feature-item">
            <i class="fas fa-arrow-right"></i>
            <span>Collaborate with ease</span>
        </div>
        <div class="feature-item">
            <i class="fas fa-arrow-right"></i>
            <span>Progression Sharing</span>
        </div>
        <div class="feature-item">
            <i class="fas fa-arrow-right"></i>
            <span>Chord Progression Management</span>
        </div>
        <div class="feature-item">
            <i class="fas fa-arrow-right"></i>
            <span>Create Playlists</span>
        </div>
        <div class="feature-item">
            <i class="fas fa-arrow-right"></i>
            <span>Access a library</span>
        </div>
        <div class="feature-item">
            <i class="fas fa-arrow-right"></i>
            <span>Behind the Lyrics</span>
        </div>
    </div>
    <a class="btn" routerLink="/login"> Sign in </a>
  </div>
</div>
