<div class="content-container">
  <nav class="navbar" [ngClass]="{'hidden': !navbarVisible}">
    <div class="navbar-brand">
      <button
        *ngIf="authService.isLoggedIn()"
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
      >
        <mat-icon class="menu-icon">menu</mat-icon>
      </button>
      <img src="../../../assets/images/logochoir-.png" alt="Choir Hub Logo" class="logo-image" />
    </div>
    <div class="navbar-menu">
      <a *ngIf="authService.isLoggedIn()" routerLink="/home">Home</a>
      <a *ngIf="!authService.isLoggedIn()" routerLink="/register">Sign up</a>
    </div>
  </nav>

  <mat-sidenav-container fxFlexFill >
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()"  mat-list-item class="nav-item"><mat-icon>close</mat-icon></a>
        <mat-divider></mat-divider>
        <ng-container *ngFor="let item of navItems">
          <a href="{{ item.route }}" mat-list-item class="nav-item" (click)="item.action === 'logout' ? logout() : null">
            <mat-icon class="mat-menu">{{ item.icon }}</mat-icon>
            {{ item.label }}
          </a>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
      <app-toast></app-toast
    ></mat-sidenav-content>
  </mat-sidenav-container>
</div>
