mat-toolbar{
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-item {
  display: flex;
  align-items: center; /* Vertically center the content */
  gap: 10px; /* Space between icon and text */
}

.mat-menu {
  vertical-align: middle;
  padding-top: 4px;
  font-size: 17px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
  background-color: rgb(18, 18, 18);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s ease-in-out;
}

.navbar.hidden {
  top: -100px; /* Moves the navbar off-screen */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 10px;
  transition: color 0.2s ease-in-out;
}

// .navbar-menu a:hover {
//   color: #ffcc00;
// }
/* Ensure the content starts below the navbar */
.content-container {
 position:relative;
}
mat-sidenav-container{
  z-index: 0;
}
/* Styling for the rest of the layout */
// mat-sidenav-content {
//   min-height: calc(100vh - 70px); /* Full viewport height minus the navbar */

// }

.menu-spacer {
  flex: 1 1 auto;
}

  
  button[mat-raised-button] {
    background-color: #ff5722;
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
  
  button[mat-raised-button]:hover {
    background-color: #e64a19;
  }

  .menu-icon{
    color: white;
  }

  .logo-image {
    height: 40px; /* Adjust the height as needed */
    margin-left: 10px; /* Space between logo and text */
    vertical-align: middle; /* Aligns the logo with the text */
  }
  