<nav class="navbar">
  <button mat-mini-fab aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button>
    <ul class="nav-list">
      <li *ngIf="!authService.isLoggedIn()">
        <a routerLink="/login" class="nav-link">Login</a>
      </li>
      <li *ngIf="!authService.isLoggedIn()">
        <a routerLink="/register" class="nav-link">Register</a>
      </li>
      <li *ngIf="authService.isLoggedIn()">
        <a routerLink="/rooms" class="nav-link">Rooms</a>
      </li>
      <li *ngIf="authService.isLoggedIn()">
        <a routerLink="/piano" class="nav-link">Piano</a>
      </li>
      <li *ngIf="authService.isLoggedIn()">
        <button mat-raised-button color="primary" (click)="logout()">Logout</button>
      </li>
    </ul>
  </nav>
  

  <router-outlet></router-outlet>

  <app-toast></app-toast>
  
 