mat-toolbar{
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-item {
  display: flex;
  align-items: center; /* Vertically center the content */
  gap: 10px; /* Space between icon and text */
}

.mat-menu {
  vertical-align: middle;
  padding-top: 4px;
  font-size: 17px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    background-color:  rgb(157 152 152);
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s ease-in-out;
}

.navbar .hidden {
  top: -100px; /* Moves the navbar off-screen */
}

/* Ensure the content starts below the navbar */
.content-container {
  padding-top: 70px; /* Height of the navbar */
}

/* Styling for the rest of the layout */
mat-sidenav-container {
  min-height: calc(100vh - 70px); /* Full viewport height minus the navbar */
}

.menu-spacer {
  flex: 1 1 auto;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo span {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.navbar .menu {
  display: flex;
  align-items: center;
}
.navbar .menu a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}
.navbar .menu a:hover {
  color: #ffcc00;
}
  
  button[mat-raised-button] {
    background-color: #ff5722;
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
  
  button[mat-raised-button]:hover {
    background-color: #e64a19;
  }
