<div class="container">
  <div class="manage-rooms-container">
    <h2>Manage Rooms</h2>
    <button mat-raised-button color="primary" (click)="openCreateRoomDialog()">
      <mat-icon>group</mat-icon>New room
    </button>

    <!-- List of Rooms -->
    <div class="rooms-list">
      <ul>
        <li
          *ngFor="let room of rooms"
          (click)="selectRoom(room)"
          [class.selected]="selectedRoom?.id === room.id"
        >
          {{ room.name }}
        </li>
      </ul>
    </div>

    <!-- Room Details and Users -->
    <div *ngIf="selectedRoom" class="room-details">
      <!-- Room Title and Edit Button -->
      <div class="room-header">
        <h3>Room: {{ selectedRoom.name }}</h3>

        <!-- Three dot menu button -->
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="More options"
        >
          <mat-icon class="menu-icon">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button  *ngIf="isAdmin" mat-menu-item (click)="shareRoomLink(selectedRoom.id)">
            <mat-icon class="menu-icon">insert_link</mat-icon>
            <span>Copy room link</span>
          </button>
          <button
          *ngIf="isAdmin"
            mat-menu-item
            (click)="openAddMemberDialog(selectedRoom.id, selectedRoom.name)"
          >
            <mat-icon class="menu-icon">add</mat-icon>
            <span>Add member</span>
          </button>
          <button  mat-menu-item (click)="exitRoom(selectedRoom.id)">
            <mat-icon class="menu-icon">exit_to_app</mat-icon>
            <span>Exit room</span>
          </button>
        </mat-menu>
      </div>
      <!-- Room name input (Disabled for non-admin users) -->
      <mat-form-field
        *ngIf="isAdmin"
        appearance="outline"
        class="room-name-input"
      >
        <label>Edit the room name</label>
        <input
          matInput
          [(ngModel)]="newRoomName"
          maxlength="50"
          placeholder="Enter room name"
          [disabled]="!isAdmin"
        />
      </mat-form-field>

      <div *ngIf="isAdmin" class="copy-room-id">
        <span>Room ID: {{ selectedRoom.id }}</span>
        <button mat-icon-button (click)="copyRoomId(selectedRoom.id)">
          <mat-icon>file_copy</mat-icon>
        </button>
      </div>

      <!-- Save Button (Only available for admin) -->
      <button
        *ngIf="isAdmin"
        mat-raised-button
        color="primary"
        class="save-btn"
        [disabled]="!newRoomName"
        (click)="editRoomName()"
      >
        <mat-icon>save</mat-icon> Save
      </button>

      <!-- Delete Room Button (Only visible for admin) -->
      <button
        *ngIf="isAdmin "
        mat-raised-button
        class="delete-btn"
        color="warn"
        (click)="deleteRoom(selectedRoom.id, selectedRoom.name)"
      >
        <mat-icon>delete</mat-icon>Delete Room
      </button>

      <!-- Users in Room Section -->
      <div class="users-section">
        <h4>{{ selectedRoom.users.length }} member(s)</h4>
        <ul class="user-list">
          <li *ngFor="let user of selectedRoom.users" class="user-item">
            <div class="user-item-sub">
              <span
                >{{ user.name }}
                {{ user.id === userData.uid ? "(You)" : "" }}</span
              >

              <!-- Show delete icon for admin or self only -->
              <div *ngIf="user.admin">Admin</div>
            </div>
            <!-- <div *ngIf="user.admin">oooo</div> -->
            <div>
              <!-- Three dot menu button -->
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="More options"
              >
                <mat-icon class="menu-icon">more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <button
                  *ngIf="isAdmin && !user.admin"
                  mat-menu-item
                  (click)="makeAsAdmin(user.id, selectedRoom.id,selectedRoom.name)"
                >
                  <mat-icon class="menu-icon">security</mat-icon>
                  <span>Make room admin</span>
                </button>

                <button
                  *ngIf="isAdmin && user.admin"
                  mat-menu-item
                  (click)="dismissAsAdmin(user.id, selectedRoom.id, selectedRoom.name)"
                >
                  <mat-icon class="menu-icon">work_off</mat-icon>
                  <span>Dismiss as admin</span>
                </button>
                <button
                  *ngIf="isAdmin && user.id !== userData.uid"
                  mat-menu-item
                  (click)="removeUser(user.id, user.name)"
                >
                  <mat-icon class="menu-icon">remove_circle_outline</mat-icon>
                  <span>Remove from room</span>
                </button>
                <button
                  *ngIf="isAdmin && user.id !== userData?.uid"
                  mat-menu-item
                  (click)="blockUser(user.id, selectedRoom.id, selectedRoom.name)"
                >
                  <mat-icon class="menu-icon">block</mat-icon>
                  <span>Block</span>
                </button>

                <button
                  *ngIf="user.id === userData?.uid"
                  mat-menu-item
                  (click)="exitRoom(selectedRoom.id)"
                >
                  <mat-icon class="menu-icon">exit_to_app</mat-icon>
                  <span>Exit room</span>
                </button>
              </mat-menu>
            </div>
          </li>
        </ul>
      </div>

 <mat-divider></mat-divider>
      
<!-- Display Blocked Users Count if any -->
<div *ngIf="isAdmin && (selectedRoom && selectedRoom.blockedUsers && selectedRoom.blockedUsers.length > 0)" class="blocked-users-section">
<div class="sub-section">
  <h4 class="section-title">
    Blocked users: <b>{{ selectedRoom.blockedUsers.length }}</b>
  </h4>
  <button mat-button (click)="openBlockedUsersPopup()">
    View blocked users
  </button>
</div>
</div>

    </div>
  </div>
</div>
