
<div class="room-popup">
<div class="room-container">
  <button class="close-btn" (click)="closePopup()">✖</button>
<div class="centered-container">
  <h3>Your Rooms</h3>
  <div class="room-list">
    <ul class="room-list-horizontal">
      <li
        *ngFor="let room of joinedRooms"
        (click)="joinRoom(room)"
        [class.selected]="currentRoomId === room"
      >
        Room: {{ room }}
      </li>
    </ul>
  </div>
</div>

<div class="room-selector">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Enter Room ID</mat-label>
    <input matInput [(ngModel)]="roomId" placeholder="Room ID" />
  </mat-form-field>

  <div class="button-group">
    <button mat-raised-button color="primary" (click)="joinRoom(roomId)">
      Join Room
    </button>
    <button mat-raised-button color="accent" (click)="createRoom()">
      Create Room
    </button>
  </div>
</div>
</div>
</div>