<div class="container">
  <div class="progression-popup">
    <div class="progression-container">
      <button class="close-btn" (click)="closePopup()">✖</button>

      <div class="chord-selection">
        <h3>Select Key</h3>
        <select [(ngModel)]="selectedKey" (change)="updateSolfegeMap()">
          <option *ngFor="let key of baseSolfegeMap" [value]="key">
            {{ key }}
          </option>
        </select>
      </div>

      <div class="piano-and-number-system">
        <div class="button-selection">
          <button [ngClass]="{ selected: leftSelected }" (click)="selectLeft()">
            Left
          </button>
          <button
            [ngClass]="{ selected: rightSelected }"
            (click)="selectRight()"
          >
            Right
          </button>
          <button [ngClass]="{ selected: bothSelected }" (click)="selectBoth()">
            Both
          </button>
        </div>

        <div class="piano-container">
          <div class="piano">
            <div class="key-group" *ngFor="let keyGroup of keys">
              <div
                class="white-key"
                (mousedown)="pressKey(keyGroup.white.note)"
              >
                <div class="key-label">{{ keyGroup.white.note }}</div>
              </div>
              <div
                class="black-key"
                *ngIf="keyGroup.black"
                (mousedown)="pressKey(keyGroup.black.note)"
              >
                <div class="key-label">{{ keyGroup.black.note }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="number-system">
          <!-- Left hand progression -->
          <div *ngIf="leftSelected">
            <p class="single-chord">Left: {{ leftInput.join(', ') }}</p>
            <button (click)="addProgressionRow()">Add Row</button>

            <div class="single-row" *ngFor="let row of leftProgressions; let i = index">
              <input type="text"
                     [value]="row.join(', ')"
                     (input)="onInputChange($event, i, true)"
                     placeholder="Enter left progression with commas" />
              <mat-icon (click)="deleteRow(i, true)">delete</mat-icon>
            </div>
          </div>

          <!-- Right hand progression -->
          <div *ngIf="rightSelected">
            <p class="single-chord">Right: {{ rightInput.join(' - ') }}</p>
            <button (click)="addProgressionRow()">Add Row</button>

            <div class="single-row" *ngFor="let row of rightProgressions; let i = index">
              <input type="text"
                     [value]="row.join(' - ')"
                     (input)="onInputChange($event, i, false)"
                     placeholder="Enter right progression with dashes" />
                     <mat-icon (click)="deleteRow(i, true)">delete</mat-icon>
            </div>
          </div>

          <!-- Table for both hands input row by row -->
          <div *ngIf="bothSelected" class="table-container">
            <table>
              <thead>
                <tr>
                  <th>Left</th>
                  <th>Right</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of leftProgressions; let i = index">
                  <td>
                    <input class="both-chord"
                           [(ngModel)]="leftProgressions[i][0]"
                           (focus)="setActiveCell(i, 'left')"
                           placeholder="Left progression" />
                  </td>
                  <td>
                    <input class="both-chord"
                           [(ngModel)]="rightProgressions[i][0]"
                           (focus)="setActiveCell(i, 'right')"
                           placeholder="Right progression" />
                  </td>
                  <td>
                    <mat-icon (click)="deleteBothRow(i)">delete</mat-icon>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="add-row-button-container">
              <button (click)="addProgressionRow()">Add Row</button>
            </div>
          </div>
        </div>

        <div class="actions">
          <button (click)="confirmProgression()">Confirm</button>
          <button (click)="clearProgression()">Clear</button>
        </div>
      </div>
    </div>
  </div>
</div>
