* {
    box-sizing: border-box;
    align-content: flex-start;
  }

.progression-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10001;
}

.progression-container {
  overflow-x: auto; 
  white-space: nowrap; 
  display: flex;
  background-color: white;
  padding: 19px;
  border-radius: 15px;
  width: 95%;
  height: 80%;
  flex-direction: column;
}


.progression-subcontainer{
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: 768px) {
  .progression-container {
    max-width: 75%;
  }
}

.close-btn {
  position: absolute;
  top: 10px; 
  right: 10px; 
  z-index: 1000;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

  .piano-and-number-system {
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px;
  }

  .piano-container {
    overflow-x: auto; 
    white-space: nowrap; 
    display: flex; 
  }
  

  .piano {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px; 
  }
  .piano {
 
    height: 200px; 
    width: 60%; 
  }
  
  .key-group {
    position: relative;
  }
  
  .white-key {
    width: 40px;
    height: 180px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Make sure white keys are below black keys */
    margin-right: -3px; /* Overlap slightly with adjacent white keys */
  }
  
  .black-key {
    width: 20px;
    height: 100px;
    background-color: black;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 29px; /* Position black keys between the white keys */
    z-index: 2; /* Ensure black keys are above white keys */
  }
  
  .key-label {
    position: relative;
    top: 45px; 
    font-size: 10px;
    font-weight: bold;
    color: black;
  }
  
  .black-key .key-label {
    color: white; 
  }
  
  .white-key:hover, .black-key:hover {
    background-color: #ccc; 
  }
  
  .number-system {
    text-align: center; 
    margin-top: 15px;
  }
  
  .table-container {
    width: 100%; 
    margin: 0 auto;
  }
  
  table {
    width: 100%; 
    border-collapse: collapse;
  }

  th {
    font-weight: bold; 
    font-size: 20px;
  }
  .single-chord{
   font-weight: bold; 
   font-size: 20px;
  }

  .both-chord{
    font-size: 13px;
    width: 95%; 
    margin: 0 auto; 
    display: block;
    box-sizing: border-box;
    max-width: 95%; 
   }
   tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  mat-icon {
    cursor: pointer;
    vertical-align: middle; 
  }

   .single-row{
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
   }
  
  .numbers {
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
  }
  
  .numbers span {
    margin-right: 15px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    position: sticky; 
    bottom: 0; 
    padding: 15px 25px;
    z-index: 1000;
  }
  
  .actions button {
    padding: 10px 25px;
    font-size: 16px;
    border-radius:solid #f44336;
    color: #f44336;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .actions button:hover {
    background-color: #cdcaca;
  }
  
  .actions button:last-child {
    background-color: #4caf50; 
    border:none;
    color: white;
  }
  
  .actions button:last-child:hover {
    background-color: #388e3c;
  }

  .sticky-actions {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    bottom: 0; 
    padding: 10px;
    z-index: 1000; 
    justify-content: space-between; 
    flex-shrink: 0; 
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  
  .chord-selection {
    display: flex;
    align-items: center; 
    padding-top: 10px;
    gap: 10px;
    margin-bottom: 20px; 
  }
 
  .chord-selection h3 {
    margin: 0; 
  }
  
  .chord-selection select {
    padding: 5px; 
    font-size: 16px; 
  }

  .button-selection {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center; 
    margin-bottom: 10px;
  }
  .button-selection button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-selection button.selected {
    background-color: #4caf50;
    color: white;
  }

  .table-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    margin-top: 20px;
  }


.add-row-button-container {
  margin-top: 10px; 
}

.song-selection{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.progression-row {
  display: flex;
  align-items: center; 
  margin-bottom: 10px;
  justify-content: center;
}

span{
  font: 400 16px;
  margin-right: 10px;
}

input {

  margin-right: 10px; 
}

mat-icon {
  cursor: pointer; 
}

.focused-input {
  border: 2px solid #42a5f5; 
  background-color: #e3f2fd;
  outline: none; 
  transition: all 0.2s ease; 
}

