<div class="container">
  <div class="progression-popup">
    <div class="progression-container">
      <div class="progression-subcontainer" >
      <button class="close-btn" (click)="closePopup()">✖</button>

      <!-- Chord Selection -->
      <div class="chord-selection">
        <h3>Select Key</h3>
        <form [formGroup]="progressionForm">
          <select formControlName="selectedKey" (change)="updateSolfegeMap()">
            <option *ngFor="let key of baseSolfegeMap" [value]="key">
              {{ key }}
            </option>
          </select>
        </form>
      </div>

      <!-- Song Selection -->
      <div class="song-selection">
        <span>Song Name</span>
        <form [formGroup]="progressionForm">
          <input
            type="text"
            formControlName="songName"
            placeholder="Enter song name"
          />
        </form>
      </div>

      <!-- Progression and Piano System -->
      <div class="piano-and-number-system">
        <!-- Button Selection -->
        <div class="button-selection">
          <button  [ngClass]="{'selected': leftSelected}" (click)="selectLeft()" (click)="selectLeft()">Left</button>
          <button [ngClass]="{'selected': rightSelected}" (click)="selectRight()" (click)="selectRight()">Right</button>
          <button [ngClass]="{'selected': bothSelected}" (click)="selectBoth()" (click)="selectBoth()">Both</button>
        </div>

        <!-- Piano Keys -->
        <div class="piano-container">
          <div class="piano">
            <div class="key-group" *ngFor="let keyGroup of keys">
              <div
                class="white-key"
                (mousedown)="pressKey(keyGroup.white.note)"
              >
                <div class="key-label">{{ keyGroup.white.note }}</div>
              </div>
              <div
                class="black-key"
                *ngIf="keyGroup.black"
                (mousedown)="pressKey(keyGroup.black.note)"
              >
                <div class="key-label">{{ keyGroup.black.note }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="number-system">
        <!-- Left Progressions -->
        <div *ngIf="leftSelected">
        <div *ngIf="leftProgressions.controls.length">
          <h3>Left Hand Progression</h3>
          <div *ngFor="let row of leftProgressions.controls; let i = index" class="progression-row">
            <input
              [formControl]="asFormControl(row)"
              placeholder="Left progression"
            />
            <mat-icon (click)="deleteRow(i, true)">delete</mat-icon>
          </div>
          <button (click)="addProgressionRow()">Add Row</button>
        </div>
        </div>

        <!-- Right Progressions -->
        <div *ngIf="rightSelected">
        <div *ngIf="rightProgressions.controls.length">
          <h3>Right Hand Progression</h3>
          <div *ngFor="let row of rightProgressions.controls; let i = index" class="progression-row">
            <input
              [formControl]="asFormControl(row)"
              placeholder="Right progression"
            />
            <mat-icon (click)="deleteRow(i, false)">delete</mat-icon>
          </div>          
          <button (click)="addProgressionRow()">Add Row</button>
        </div>
        </div>
        <!-- Both Hands Selected -->
        <div *ngIf="bothSelected" class="table-container">
          <form [formGroup]="progressionForm">
            <table>
              <thead>
                <tr>
                  <th>Left</th>
                  <th>Right</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let row of leftProgressions.controls; let i = index" 
                >
                  <td>
                    <input
                      class="both-chord"
                      [formControl]="asFormControl(leftProgressions.at(i))"
                      (focus)="setActiveCell(i, 'left')"
                      placeholder="Left progression"
                    />
                  </td>
                  <td>
                    <input
                      class="both-chord"
                      [formControl]="asFormControl(rightProgressions.at(i))"
                      (focus)="setActiveCell(i, 'right')"
                      placeholder="Right progression"
                    />
                  </td>
                  <td>
                    <mat-icon (click)="deleteBothRow(i)">delete</mat-icon>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="add-row-button-container">
              <button (click)="addProgressionRow()">Add Row</button>
            </div>
          </form>
        </div>
        </div>
       
      </div>

      </div>

       <!-- Actions -->
       <div class="actions sticky-actions">
        <button mat-stroked-button (click)="clearProgression()">Clear</button>
        <button (click)="saveProgression()">Save</button>
      </div>
    </div>
  </div>
</div>
