.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  

.reset-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.reset-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333333;
}
.reset-container p {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
}
.reset-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.reset-container .btn {
    background-color: #00aaff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.reset-container .btn:hover {
    background-color: #0088cc;
}
.reset-container .return-link {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #00aaff;
    text-decoration: none;
}
.reset-container .return-link:hover {
    text-decoration: underline;
}