<div class="main">
<form (ngSubmit)="resetPassword()" class="reset-container">
    <h2>Reset Password</h2>
    <p>Please enter the email address that you used to register, and we will send you a link to reset your password via Email.</p>
    <input matInput [(ngModel)]="email" name="email" type="email" placeholder="jheart@email.com" required>
    <button href="#" class="btn">Reset my password</button>
    <a routerLink="/login" class="return-link">Return to <span style="color: #00aaff;">Sign In</span></a>
</form>
</div>